.env
.DS_Store
web/app/dist
pkg.ts
config.yaml
build
node_modules/
.vscode/
packages/*/node_modules
packages/*/dist
packages/*/build
.venv*
.cbi_analysis.toml
cbi_compile_commands.json
cbi.log
audit-scan.log
