#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  position: relative;
  background-color: #fff;
  width: 100%; /* Fill the .swipe container */
  height: 100%; /* Fill the .swipe container */
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: contain; /* Ensure whole poster is visible */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center;
  background-color: #000; /* Neutral background for empty space */
}

.cardContainer {
  width: 300px; /* Our desired fixed width */
  height: 450px; /* Our desired fixed height for 2:3 aspect ratio */
  position: relative; /* Needed for absolute positioning of .swipe */
}

.swipe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.read-the-docs {
  color: #888;
}